



h2{
    color: white !important;
}


.contenedor-carrusel-cine {
    max-width: 1500px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    position: relative;
}

.etiqueta-novedades {
    background-color: #c447e6;
    color: white;
    font-weight: bold;
    display: inline-block;
    padding: 5px 80px;
    margin-bottom: 20px;
    transform: skewX(-15deg);/* Efecto inclinad*/
}

.etiqueta-recomendados {
    color: #a274ff;
    font-weight: bold;
    margin-top: 25px;
    font-size: 1.1rem;
}
.mi-swiper-cine {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.img-carrusel-cine {
    display: block;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 4px solid #c447e6; /* Borde violeta como el diseño */
    border-radius: 10px;
}

/* Personalizar las flechas de Swiper para que combinen */
.swiper-button-next, .swiper-button-prev {
    color: #c447e6 !important;
}